@import "src/custom-theme";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active {
  //border-left: 5px mat.get($color-config, 'accent') solid;
  //background: mat-color($accent, lighter);
}
