<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of accessibleItems" routerLink="{{item.url}}" routerLinkActive="active">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="item != undefined">
          <ng-container *ngIf="collapsed; then thenNavBlock else elseNavBlock"></ng-container>
          <ng-template #thenNavBlock>
            <mat-icon class="menu-item-icon-collapsed" fxFlex="0 1 30px">{{item.icon}}</mat-icon>
          </ng-template>
          <ng-template #elseNavBlock>
            <mat-icon fxFlex="0 1 30px">{{item.icon}}</mat-icon>
            <span fxFlex="1 1 auto">{{item.text | translate}}</span>
          </ng-template>
        </div>
      </a>
      <a mat-list-item>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <ng-container *ngIf="collapsed; then thenNavBlock else elseNavBlock"></ng-container>
          <ng-template #thenNavBlock>
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
              <mat-icon class="menu-item-icon-collapsed" fxFlex="0 1 30px" (click)="auth.logout()">logout</mat-icon>
            </ng-container>
            <ng-template #loggedOut>
              <mat-icon class="menu-item-icon-collapsed" fxFlex="0 1 30px" (click)="auth.loginWithRedirect()">login</mat-icon>
            </ng-template>
          </ng-template>
          <ng-template #elseNavBlock>
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
              <mat-icon fxFlex="0 1 30px">logout</mat-icon>
              <span fxFlex="1 1 auto" (click)="auth.logout()">Logout</span>
            </ng-container>
            <ng-template #loggedOut>
              <mat-icon fxFlex="0 1 30px">login</mat-icon>
              <span fxFlex="1 1 auto" (click)="auth.loginWithRedirect()">Login</span>
            </ng-template>
          </ng-template>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
        <div *ngIf="this.auth.user$ | async as user" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
          <img src="{{user.picture}}" alt="" class="user-avatar">
          <mat-card-title>{{user.email}}</mat-card-title>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
